<h1>Page to test connections from rails to localeapp</h1>
<ul>
  <li><%= t(:"views.home.test_from_localshost.value1") %></li>
  <li><%= t(:"views.home.test_from_localshost.value2") %></li>
  <li><%= t(:"views.home.test_from_localshost.value3") %></li>
</ul>
